.user-show
  .profile
    .profile__icon
    .profile__data
      .profile__data__main
        %p.profile__data__main--name 
          = link_to edit_user_path(current_user), class: "profile__data__main--name" do
            = current_user.name
            .profile__data__main--edit
              = icon('fas', 'user-cog fa-2x',  class: "profile__data__main--edit")
              %span<>
      = link_to new_post_path, class: "profile__data__post btn" do
        = "投稿"
      .profile__data__follow
        .profile__data__follow--users follow users
        .profile__data__follow--cars follow cars

 
  .user-posts
    - @posts.each do |post|
      = link_to post_path(post.id) do
        = image_tag post.image.url, class:"user-posts--image"
 