.header
  .title
    = link_to root_path, class: "title" do
      %p.title__name
        = RaceInsta
  .form
    = form_with(url: search_posts_path, local: true, method: :get, class: "form__search") do |form|
      = form.text_field :keyword, placeholder: "検索する", class: "form__search--input"
      = form.submit "検索", class: "form__search--btn"
  -if user_signed_in?
    .user
      = link_to current_user.name, current_user, class: "user__name btn"
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'user__edit btn'
  -else
    .user
      = link_to "ログイン", new_user_session_path, class: 'user__name btn'
      = link_to "新規登録", new_user_registration_path, class: 'user__edit btn'
= render 'layouts/notifications'